[dark-theme="dark"]{
    --bodyColor: rgb(54, 54, 54);
    --defaultShadow: rgb(172, 172, 172);
    --headerPColor: white;
    --switcherColor: white;
    --switcherFontColor:rgb(61, 61, 61);
    --switcherHoverColor:#7a7878;
    --backBtnColor:white;
    --backBtnTextColor:rgb(61, 61, 61);
    --menuHeaderColor: rgb(54, 54, 54);
    --menuBorder:black;
    --menuDivBorderBottom:white;
    --liHover:rgba(126, 126, 126, 0.767);
    --menuFontColor:rgba(245, 245, 245, 0.822);
    --gameFontColor:rgb(190, 190, 190);
    --cellColor:rgba(219, 219, 219, 0.5);
}   