@import 'variables';
@import 'misc';

.gameSpot {
    width:$gameSpotWidth;
    margin-right: $defaultMargin;
    height:auto;
    min-height: 500px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    position:relative;
    color:var(--gameFontColor);
}
.gameHeader {
    font-size: $gameHeaderFontSize;
    p {
        @extend %defaultPCentering;
    }
}

.gameResponse {
    font-size: $gameResponseFontSize;
    text-align: center;
    margin:$defaultMargin;
}
