@import 'variables';

#menu{
    width: $menuWidth;
    margin:0 10px;
    height:100px;
    box-sizing: border-box;
    color:var(--menuFontColor);
    div {
        background: var(--menuHeaderColor);
        display:flex;
        justify-content: center;
        align-content: center;
        border-bottom: 1px solid var(--menuDivBorderBottom);
        transform: translate(0px, -1px);
        p {
            margin:5px;
            font-size:20px;
        }
    }
    li {
        padding:5px;
        text-transform:uppercase;
        &:hover{
            background: var(--liHover);
        }
    }
}
[hidden='true']{
    display:none;
}